/*===========animations===================*/
@keyframes cursor{
    50%{border-color:transparent}
}
@keyframes typing{
    from{width: 0;}
    to {width:100%;}

}
@keyframes blink{
    0%,50%,100%{
        opacity:1;
    }
    25%,75%{
        opacity:0;
    }
    
}


*, html{
    box-sizing: border-box;
    margin: 0;

}
body{
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
}
.navigator{
    padding: 15px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    top:0;
    position:fixed;
    margin:0;
    width: 100%;
    border-bottom: 2px solid grey;
    background-color: #fff;
}
.center{
    margin:auto;
    //border:2px black solid;

}
.right{
    display:flex-end;
    margin: auto;
}
.right i{
    margin: 5px;
}
.links{
    width: 100%;
    //margin-left: 50%;
    height:0;
    margin: 5px;
    overflow: hidden;
    //align-items: center;
    //justify-content: center;
    //border: 2px black solid;


}
.show-navbar{
    height:10rem;
}
.menu-links{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    padding-right:50px ;
    // box-shadow: 10px 10px gray;
    //width: 100%;,
    border: #000 solid 2px;

}
.links li{
    //border: #000 solid 2px;
    list-style: none;
    
    padding: .3rem;
}
ul , a{
    //padding: 10px;
    color: #000;
    text-decoration: none;
}
a:hover{
    //padding: 10px;
    
    //background-color: #000;
    color:rgb(255,0,0);
}
legend{
    color:#000;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
}

main{
    padding: 5px;
    margin-top: 100px;

}
#myname{
    animation: blink 3s infinite;
    background-color:rgba(0,255,0, .9);
    //color:rgba(0,255,0, .9);
}

.profile-name{ 
    height:100vh;
    display:grid;
    grid-template-rows:repeat(2,1fr);

}
.profile img{
    width: 70px;
    justify-content: center;
    //text-align: center;
    margin: auto auto;
    border-radius: 50%;
}
.online{
    position: relative;
}
.online::after{
    content:"";
    width: 7px;
    height: 7px;
    border:2px solid #fff;
    border-radius: 50px;
    background:#41db51;
    position: absolute;
    top:0;
    right:0;


}
//  #image{
        //background-image: url(/images/profile.jpeg);
        // background-size: cover;
    // }

#about ,#image{
    border:2px grey solid;
    border-radius: 10px;
    padding: 30px;
    box-shadow: inset;
    margin:5px;
}
#about{
    //padding:auto;
    text-align: center;
    background-color: rgb(255,255,255);
}

legend{
    border-radius: 10px;
    //border: #000 2px solid;
    text-align: center;
    //margin-top: 20px;
    
}
.text{
    font-family: cursive;
    color:rgb(255,0,0);
    font-size: inherit;
    letter-spacing: 5px;
    //border-right: 5px solid black;
    width: 100%;
    white-space: nowwrap;
    overflow: hidden;
    animation:typing 10s steps(19) 1s forwards;
    //cursor: .4s step-end infinite alternate;
    
}
#image{
    background-color: rgb(255,255,255);
}
.skills-space{
    display: grid;
    grid-template-columns:auto auto;
    height:100vh;
}

.projects{
    display:grid;
    height:100vh;
    grid-template-columns: repeat(2, 1fr);

}

.skiller, .project{
    border:2px solid grey;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    padding: auto;
}
.contact-info{
    display: inline-block;
    //background-color: #fff;
    height:100vh;
   // padding: 1.6rem;
    width:100%;
    // border:2px solid grey;
    margin:auto;


}
.labels{
    border:2px solid gray;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    padding: auto;
}
input, textarea,#btn{
    text-align: center;
    padding: 5px;
    margin: 10px;
    width: 80%;
    border:gray solid 2px;
    border-radius: 10px;
}
#btn{
    background-color: rgb(0,255,0);
    width: 40%;
}
label{
    color:#000;
}