/*===========animations===================*/
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
/* //----------==============================media Queries========================== */
@media only screen and (min-width:600px) {
  .right{
    display:none;
  }
  .jina{
    
    font-size: 1000;
  }
.center{
  display: flex;
}
  
}
@media only screen and (max-width:599px) {
  .center{
    display: none;
  }
  .contact-info{
    height: 40vh;
  }
  .skills-space{
    height: 70vh;
  }
  .right{
    display: flex;
    align-items: flex-end;
  }
  
}
/* =============================================body customizations============== */
*, html {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
}

.navigator {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  top: 0;
  position: fixed;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid grey;
  background-color: #fff;
}
.jina{
  font-weight:800;

}
.center {
  margin: auto;
 }
.center a{
  padding: 5px;
}
/* i:hover{
background-color: #000;
} */


a:hover{
 
  background-color: #6768ac;
}

.right {
  display: flex-end;
  margin: auto;
  /* display: none; */
}

.right i {
  margin: 5px;
}
.menu-links{
  position: fixed;
  color: #000;
  font-weight: 1000;
  top: 0;
  left: 0;
  transform: translate(0);
  height: 100vh;
  background-color:#046532;
  width: auto;
  text-align: center;
  padding-top: 50px;
}

.show-sidebar {
  /* height: 10rem; */
  transform: translate(-100%);
}

/* .menu-links {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  padding-right: 50px;
  border: #000 solid 2px;
} */

.links li {
  list-style: none;
  padding: 0.3rem;
}

ul, a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

legend {
  color: #000;
  font-weight: 1000;
  font-family: "Times New Roman", Times, serif;
}

main {
  padding: 5px;
  margin-top: 100px;
}


.profile-name {
  /* height: 80vh; */
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.profile img {
  width: 170px;
  border-radius: 2px solid #000;
  justify-content: center;
  margin: auto auto;
  border-radius: 50%;
}
.myname {
  animation: blink 3s infinite;
  background-color: rgba(0, 255, 0, 0.9);
}
#about, #image {
  border: 2px grey solid;
  border-radius: 10px;
  padding: 30px;
  box-shadow: inset;
  margin: 5px;
}

#about {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

legend {
  border-radius: 10px;
  text-align: center;
}

.text {
  font-family: cursive;
  color: rgb(255, 0, 0);
  font-size: inherit;
  letter-spacing: 5px;
  width: 100%;
  white-space: nowwrap;
  overflow: hidden;
  animation: typing 10s steps(19) 1s forwards;
}

#image {
  background-color: rgb(255, 255, 255);
}

.skiller{
  text-align: center;
  vertical-align: middle;
}
.skillimg{
  margin: auto auto;
  width: 70px;
  
}
.specific-skill{
  color:#000;
  vertical-align: middle;
}
#specific-skill:hover{
  color: rgb(255, 0, 0);
}
.skills-space {
  display: grid;
  grid-template-columns: auto auto;
  /* height: 130vh; */
}

.projects {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
}

.skiller, .project {
  border: 2px solid grey;
  margin: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: auto;
}

.contact-info {
  display: inline-block;
  height: 70vh;
  width: 100%;
  margin: auto;
}

.labels {
  border: 2px solid gray;
  margin: 20px;
  border-radius: 10px;
  background-color: #fff;
  padding: auto;
}

input, textarea, #btn {
  text-align: center;
  padding: 5px;
  margin: 10px;
  width: 80%;
  border: gray solid 2px;
  border-radius: 10px;
}
.labeler{
  margin-left: 40px;

}
.labeler::after{
  content: "*";
  color:rgb(255,0,0);

}
#textarea{
  vertical-align: middle;
}
#btn {
  background-color: rgb(0, 255, 0);
  width: 40%;
}

label {
  color: #000;
}/*# sourceMappingURL=styles.css.map */